<div class="main_container">

  <div class="col-md-3 left_col">
    <div class="left_col scroll-view">

      <div class="navbar nav_title" style="border: 0;">
        <a href="#" class="site_title"><i class="glyphicon glyphicon-book"></i> <span>Homework</span></a>
      </div>
      <div class="clearfix"></div>



      <br />

      <!-- sidebar menu -->
      <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">

        <div class="menu_section">
          <ul class="nav side-menu">
            <li>
                <%= link_to '<i style = "width:26px;" class="glyphicon glyphicon-home"></i> Home'.html_safe, root_path %>
            </li>
            <li><%= link_to '<i style = "width:26px;" class="glyphicon glyphicon-book"></i> Homeworks'.html_safe, homeworks_path %>
            </li>        

          </ul>
        </div>


      </div>
      <!-- /sidebar menu -->

    </div>
  </div>